<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="CICS Liberty sample configuration">
    <!-- Enable features -->
    <featureManager>
        <feature>microprofile-7.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>cicsts:security-1.0</feature>
        <feature>concurrent-3.0</feature>
    	<!-- <feature>passwordUtilities-1.0</feature>
    	<feature>zosPasswordEncryptionKey-1.0</feature> -->
    </featureManager>
    
    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" />
    
    <!-- Add Strict Transport Security (HSTS) -->
    <webContainer addStrictTransportSecurityHeader="max-age=31536000"/>
    
    <config monitorInterval="5s" updateTrigger="polled"/>
    
    <!-- The application start timeout specifies the maximum
         amount of time the server waits for applications
         to start before the server becomes available.
         If there are lots of applications installed and startup
         takes too long you may need to increase this value.
    -->
    <applicationManager startTimeout="60s"/>
    
    <applicationMonitor dropins="dropins" dropinsEnabled="false" pollingRate="5s" updateTrigger="disabled"/>
        
    <application location="${server.config.dir}/apps/cics-java-liberty-kafka.war" type="war">
        <classloader apiTypeVisibility="spec, ibm-api, stable, third-party"/>
        <application-bnd>
            <security-role name="cics-user">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
    </application>
    
    <!-- Option B: Obtain AES key from RACF key ring at runtime --> 
    <!--  <zosPasswordEncryptionKey keyring="safkeyring:///YOUR.KEYRING" label="Liberty" type="JCERACFKS"/>  -->
        
    <!-- Option B: Credentials alias (AES-protected) --> 
    <!-- <authData id="cicsSAF" user="<user_id>" password="{aes}ARI673meZr9vy...." /> -->
    
    <!--  (Optional) Use RACF key ring as SSL keystore  -->
    <!-- <keyStore fileBased="false" id="defaultKeyStore" location="safkeyring:///YOUR.KEYRING" password="password" readOnly="true" type="JCERACFKS"/> -->

    <ssl clientAuthenticationSupported="true" id="defaultSSLConfig" keyStoreRef="defaultKeyStore" sslProtocol="TLSv1.3,TLSv1.2"/>
        
    <cdi enableImplicitBeanArchives="false"/>
    <include id="cics_auto" location="${server.config.dir}/installedApps.xml" onConflict="IGNORE"/>
               
    <!-- Custom Managed Executor for Kafka Application -->
    <!-- Prevents thread starvation by limiting concurrent Kafka message processing -->
    <managedExecutorService jndiName="concurrent/KafkaExecutor" contextServiceRef="DefaultContextService"
   		maxThreads="10"
     	coreThreads="5"/>

    <safRegistry enableFailover="false" id="saf"/>
    <executor coreThreads="8" id="allowCICSconfigure" maxThreads="50"/>
</server>
